[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jedi = ">=0.9.0"
json-rpc = ">=1.8.1"
service-factory = ">=0.1.5"
python-language-server = "~=0.22.0"
pyls-isort = "*"
flake8 = "*"
black = "*"
autoflake = "*"
importmagic = "*"
epc = "*"
ipdb = "*"
ipython = "*"

[packages]
beautifulsoup4 = "*"

[requires]
python_version = "3.7"
